# Django Environment
DJANGO_ENV=dev

# Security
SECRET_KEY=django-insecure-gjpu_d6@sp%%yx*0hvsaaugfhip2aj&6^e%16nmb&8xixdqu3x
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
# For dev: sqlite:///db.sqlite3
# For prod: mysql://user:password@host:port/dbname
DATABASE_URL=sqlite:///db.sqlite3

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@knowmore.example.com
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Security (Prod)
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
